* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.logo{
  width: 100px;
}

.header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  z-index: 1;
}

.post-img {
  object-fit: contain;
}

form {
  display: flex;
  flex-direction: column;
}

.modal-logo {
  margin: auto;
}