* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.logo{
  width: 100px;
}

.header {
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}