.post {
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post-img {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.post-caption {
    font-weight: normal;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-avatar {
    margin-right: 10px;
}

.post-caption, .post-header {
    padding: 20px;
}

.comment-box {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
}

.comments {
    padding: 20px;
}

.post-input {
    flex: 1;
    border: none;
    padding: 10;
    border: 1px solid lightgrey;
}

.post-button {
    flex: 0;
}